spring:
  application:
    name: Taskr
  
  profiles:
    active: ${SPRING_PROFILE:dev}
  
  datasource:
    url: jdbc:postgresql://localhost:5432/taskr_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  config: classpath:logback-spring.xml

app:
  security:
    username: ${APP_USERNAME}
    password: ${APP_PASSWORD}
